In [1]:
#coding:-*-utf-8-*-
import json
import pandas as pd

In [2]:
product_loc = "/home/dzn/Project/d07_optimize/product_json.txt"
coupon_loc  = '/home/dzn/Project/d07_optimize/coupon_json.txt'

In [3]:
product = pd.DataFrame(json.load(open(product_loc,'r')))
product = product.sort_values(by = ["productRatio", "productDueDays", "minInvestAmount", 'maxInvestAmount'], ascending=[False, True, True, False])
product.index = range(len(product))
product_0 = product.loc[0]
product_0

firstCategoryId           12
forNewMemberFlag        True
maxInvestAmount         8800
minInvestAmount          100
perIncAmount             100
productDueDays            90
productId               7125
productRatio             0.1
remainInvestAmount    750000
secondCategoryId          13
thirdCategoryId           31
Name: 0, dtype: object

In [5]:
coupon = pd.DataFrame(json.load(open(coupon_loc,'r')))
coupon['rate'] = 1.0*coupon.couponAmount/(coupon.couponMinInvestAmount-coupon.couponAmount)
coupon['real_start'] = coupon.couponMinInvestAmount-coupon.couponAmount
coupon = coupon.sort_values(by=['rate', 'real_start'],  ascending = [False, True])
coupon

,allProductSupportFlag,couponAmount,couponId,couponMinInvestAmount,supportCategoryVoList,rate,real_start
0,False,300,db5a513a552b437e9f8f3a723a4561d3,5000,"[{u'supportFlag': True, u'thirdCategoryId': 6}...",0.06383,4700

In [ ]:
coupon.loc[:('')]

In [5]:
coupon[coupon.couponAmount < 100].index

Int64Index([0, 1], dtype='int64')

In [6]:
pd.DataFrame(coupon['supportCategoryVoList'][0])

    secondCategoryId supportFlag  thirdCategoryId
0                 53        True              NaN
1                NaN        True               10
2                NaN        True               31
3                NaN        True               11
4                NaN        True               25
5                NaN        True               43
6                NaN        True               37
7                NaN        True               16
8                NaN        True               32
9                NaN        True               17
10               NaN        True               26
11               NaN        True               44
12               NaN        True               38
13               NaN        True               18
14               NaN        True               33
15               NaN        True               19

In [7]:
def productMatchCoupon(product_0, coupon):
    category = ['firstCategoryId', 'secondCategoryId', 'thirdCategoryId', 'fouthCategoryId']
    selectcoupon = pd.DataFrame()
    dropcoupon = pd.DataFrame()
    for name in list(pd.DataFrame(product_0 ).index):
        if name in category :
            for i in range(len(coupon['supportCategoryVoList'])):
                item = pd.DataFrame(coupon['supportCategoryVoList'][i])
                column = list(item.columns)
                if name in column :
                    underselectcoupon = item[item[name] == product_0[name]]
                    if len(underselectcoupon) > 0 :
                        aaa = list(underselectcoupon['supportFlag'])
                        if aaa[0] :
                            selectcoupon = selectcoupon.append(coupon.loc[i])
                        else :
                            dropcoupon = dropcoupon.append(coupon.loc[i])
    
    print selectcoupon
    if len(selectcoupon) > 0:
        del selectcoupon['supportCategoryVoList']
    
    if len(dropcoupon) > 0:
        print dropcoupon
        del dropcoupon['supportCategoryVoList']
    
    if len(dropcoupon.index) > 0:
        for j in dropcoupon.index :
            selectcoupon = selectcoupon.drop(j)
    
    if len(selectcoupon) > 0 :
        selectcoupon = selectcoupon.drop_duplicates()
    
    return selectcoupon

In [8]:
productMatchCoupon(product_0, coupon)

   allProductSupportFlag  couponAmount                          couponId  \
0                      0            20  4c72434f6c934801b80a019ae964558c
1                      0            50  00109adc3cf14c4b9ab72ab4e9fd33a3
2                      0           100  61c15ee5da5d4387be7425d3b1495b15

   couponMinInvestAmount      rate  real_start  \
0                  10000  0.002004        9980
1                  25000  0.002004       24950
2                  35000  0.002865       34900

                               supportCategoryVoList
0  [{u'supportFlag': True, u'secondCategoryId': 5...
1  [{u'supportFlag': True, u'thirdCategoryId': 10...
2  [{u'supportFlag': True, u'thirdCategoryId': 10...

,allProductSupportFlag,couponAmount,couponId,couponMinInvestAmount,rate,real_start
0,0,20,4c72434f6c934801b80a019ae964558c,10000,0.002004,9980
1,0,50,00109adc3cf14c4b9ab72ab4e9fd33a3,25000,0.002004,24950
2,0,100,61c15ee5da5d4387be7425d3b1495b15,35000,0.002865,34900

In [9]:
pd.DataFrame(coupon['supportCategoryVoList'][0])

    secondCategoryId supportFlag  thirdCategoryId
0                 53        True              NaN
1                NaN        True               10
2                NaN        True               31
3                NaN        True               11
4                NaN        True               25
5                NaN        True               43
6                NaN        True               37
7                NaN        True               16
8                NaN        True               32
9                NaN        True               17
10               NaN        True               26
11               NaN        True               44
12               NaN        True               38
13               NaN        True               18
14               NaN        True               33
15               NaN        True               19

In [10]:
coupon.loc[0]

allProductSupportFlag                                                False
couponAmount                                                            20
couponId                                  4c72434f6c934801b80a019ae964558c
couponMinInvestAmount                                                10000
supportCategoryVoList    [{u'supportFlag': True, u'secondCategoryId': 5...
rate                                                            0.00200401
real_start                                                            9980
Name: 0, dtype: object

In [11]:
coupon_0 = coupon.iloc[0]
#coupon_0 = pd.DataFrame(coupon_0)
coupon_0

allProductSupportFlag                                                False
couponAmount                                                           100
couponId                                  61c15ee5da5d4387be7425d3b1495b15
couponMinInvestAmount                                                35000
supportCategoryVoList    [{u'supportFlag': True, u'thirdCategoryId': 10...
rate                                                            0.00286533
real_start                                                           34900
Name: 2, dtype: object

In [12]:
aaa = pd.DataFrame(coupon_0['supportCategoryVoList'])
aa = aaa[aaa.supportFlag]
aa

   supportFlag  thirdCategoryId
0         True               10
1         True               31
2         True               11
3         True               37
4         True               16
5         True               32
6         True               17
7         True               26
8         True               44
9         True               38
10        True               18
11        True               33

In [13]:
# 为每张券构建产品包
def couponMatchPorduct(coupon_0, product):
    selectedproduct = pd.DataFrame()
    dropproduct     = pd.DataFrame()
    category = ['firstCategoryId', 'secondCategoryId', 'thirdCategoryId', 'fouthCategoryId']
    for i in range(len(coupon_0['supportCategoryVoList'])):
        item = coupon_0['supportCategoryVoList'][i]
        if item["supportFlag"] :
            print 'supportFlag = True'
            for name in item.keys() :
                if name in category :
                    selectedproduct = selectedproduct.append(product[product[name] == item[name]])
        else :
            print 'supportFlag = False'
            for name in item.keys() :
                if name in category :
                    dropproduct = dropproduct.append(product[product[name] == item[name]])

    if len(dropproduct) > 0:
        droplist = list(dropproduct.index)
        for i in droplist:
            selectedproduct = selectedproduct.drop(i)
            
    return selectedproduct.drop_duplicates()

In [12]:
couponMatchPorduct(coupon_0, product)

supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True
supportFlag = True

,firstCategoryId,maxInvestAmount,minInvestAmount,perIncAmount,productDueDays,productId,productRatio,remainInvestAmount,secondCategoryId,thirdCategoryId
0,2,-1,100,100,357,6944,0.068,6400,5,10
8,2,-1,1000,100,357,7115,0.068,1423100,5,31
9,2,-1,10000,10000,356,7128,0.070,1590000,5,11
3,2,-1,50000,50000,356,7033,0.072,1100000,5,25
14,2,-1,50000,100,357,7135,0.072,2000000,5,25
4,2,-1,50000,100,357,7078,0.075,1000000,5,43

In [16]:
selectedproduct = pd.DataFrame(columns = [list("ABCD")])
selectedproduct

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [24]:
pro = pd.DataFrame({'A' :[ 1], 'B':[2], 'C':[3], 'D' :[4]})
pro

   A  B  C  D
0  1  2  3  4

In [31]:
selectedproduct = selectedproduct.append(pro)
selectedproduct

   A  B  C  D
0  1  2  3  4
0  1  2  3  4
0  1  2  3  4

In [29]:
if len(coupon) > 0:
    couponMatchPorduct(coupon_0, product)
    pass
else :
    pass

NameError: name 'couponMatchPorduct' is not defined