In [1]:
#coding:-*-utf-8-*-
import json
import pandas as pd

In [2]:
#product_json = [{"firstCategoryId":2,"fouthCategoryId":15,"maxInvestAmount":-1.00,"minInvestAmount":100.00,"perIncAmount":100.00,"productDueDays":181,"productId":7049,"productRatio":0.060000,"secondCategoryId":4,"thirdCategoryId":8},{"firstCategoryId":12,"maxInvestAmount":3000.00,"minInvestAmount":100.00,"perIncAmount":100.00,"productDueDays":90,"productId":7051,"productRatio":0.100000,"secondCategoryId":13}]

In [3]:
product_path = 'product_json.txt'
coupon_path  = 'coupon_json.txt'

In [4]:
product_json= json.load(open(product_path,'r'))
print product_json

[{u'productRatio': 0.06, u'secondCategoryId': 4, u'firstCategoryId': 2, u'perIncAmount': 100.0, u'productDueDays': 181, u'maxInvestAmount': -1.0, u'thirdCategoryId': 8, u'minInvestAmount': 100.0, u'fouthCategoryId': 15, u'productId': 7049}, {u'productRatio': 0.1, u'secondCategoryId': 13, u'firstCategoryId': 12, u'perIncAmount': 100.0, u'productDueDays': 90, u'maxInvestAmount': 3000.0, u'minInvestAmount': 100.0, u'productId': 7051}]

In [5]:
encodejson = json.dumps(product_json , sort_keys= True)

In [6]:
decodejson = json.loads(encodejson)

In [7]:
print encodejson

[{"firstCategoryId": 2, "fouthCategoryId": 15, "maxInvestAmount": -1.0, "minInvestAmount": 100.0, "perIncAmount": 100.0, "productDueDays": 181, "productId": 7049, "productRatio": 0.06, "secondCategoryId": 4, "thirdCategoryId": 8}, {"firstCategoryId": 12, "maxInvestAmount": 3000.0, "minInvestAmount": 100.0, "perIncAmount": 100.0, "productDueDays": 90, "productId": 7051, "productRatio": 0.1, "secondCategoryId": 13}]

In [8]:
names = decodejson[0].keys()
names

[u'productRatio',
 u'secondCategoryId',
 u'firstCategoryId',
 u'perIncAmount',
 u'productDueDays',
 u'maxInvestAmount',
 u'thirdCategoryId',
 u'minInvestAmount',
 u'fouthCategoryId',
 u'productId']

In [9]:
decodejson[0].values()

[0.06, 4, 2, 100.0, 181, -1.0, 8, 100.0, 15, 7049]

In [10]:
print decodejson[0]

{u'productRatio': 0.06, u'secondCategoryId': 4, u'firstCategoryId': 2, u'perIncAmount': 100.0, u'productDueDays': 181, u'maxInvestAmount': -1.0, u'thirdCategoryId': 8, u'minInvestAmount': 100.0, u'fouthCategoryId': 15, u'productId': 7049}

In [11]:
def json2DataFrame(jsonpath):
    
    jsondata = json.load(open(jsonpath,'r'))
    product  = pd.DataFrame(jsondata)
    return product

In [12]:
json2DataFrame(product_path)

,firstCategoryId,fouthCategoryId,maxInvestAmount,minInvestAmount,perIncAmount,productDueDays,productId,productRatio,secondCategoryId,thirdCategoryId
0,2,15,-1,100,100,181,7049,0.06,4,8
1,12,NaN,3000,100,100,90,7051,0.10,13,NaN

In [13]:
json2DataFrame(coupon_path)

,firstCategoryId,fouthCategoryId,maxInvestAmount,minInvestAmount,perIncAmount,productDueDays,productId,productRatio,secondCategoryId,thirdCategoryId
0,2,15,-1,100,100,181,7049,0.06,4,8
1,12,NaN,3000,100,100,90,7051,0.10,13,NaN

In [60]:
res

,firstCategoryId,fouthCategoryId,maxInvestAmount,minInvestAmount,perIncAmount,productDueDays,productId,productRatio,secondCategoryId,thirdCategoryId
0,2,15,-1,100,100,181,7049,0.06,4,8
1,12,NaN,3000,100,100,90,7051,0.10,13,NaN

In [81]:
pd.DataFrame(res.iloc[0])

                        0
firstCategoryId      2.00
fouthCategoryId     15.00
maxInvestAmount     -1.00
minInvestAmount    100.00
perIncAmount       100.00
productDueDays     181.00
productId         7049.00
productRatio         0.06
secondCategoryId     4.00
thirdCategoryId      8.00

In [82]:
aa = pd.DataFrame.to_json(pd.DataFrame(res.iloc[0]))
aa

'{"0":{"firstCategoryId":2.0,"fouthCategoryId":15.0,"maxInvestAmount":-1.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":181.0,"productId":7049.0,"productRatio":0.06,"secondCategoryId":4.0,"thirdCategoryId":8.0}}'

In [83]:
bb = pd.DataFrame.to_json(pd.DataFrame(res.iloc[1]))
bb

'{"1":{"firstCategoryId":12.0,"fouthCategoryId":null,"maxInvestAmount":3000.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":90.0,"productId":7051.0,"productRatio":0.1,"secondCategoryId":13.0,"thirdCategoryId":null}}'

In [87]:
aa[:-1]

'{"0":{"firstCategoryId":2.0,"fouthCategoryId":15.0,"maxInvestAmount":-1.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":181.0,"productId":7049.0,"productRatio":0.06,"secondCategoryId":4.0,"thirdCategoryId":8.0}'

In [88]:
bb[1:]

'"1":{"firstCategoryId":12.0,"fouthCategoryId":null,"maxInvestAmount":3000.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":90.0,"productId":7051.0,"productRatio":0.1,"secondCategoryId":13.0,"thirdCategoryId":null}}'

In [89]:
aa[:-1] + ',' + bb[1:]

'{"0":{"firstCategoryId":2.0,"fouthCategoryId":15.0,"maxInvestAmount":-1.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":181.0,"productId":7049.0,"productRatio":0.06,"secondCategoryId":4.0,"thirdCategoryId":8.0},"1":{"firstCategoryId":12.0,"fouthCategoryId":null,"maxInvestAmount":3000.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":90.0,"productId":7051.0,"productRatio":0.1,"secondCategoryId":13.0,"thirdCategoryId":null}}'

In [1]:
res

NameError: name 'res' is not defined