In [1]:
#coding:-*-utf-8-*-
import json
import pandas as pd

In [2]:
#product_json = [{"firstCategoryId":2,"fouthCategoryId":15,"maxInvestAmount":-1.00,"minInvestAmount":100.00,"perIncAmount":100.00,"productDueDays":181,"productId":7049,"productRatio":0.060000,"secondCategoryId":4,"thirdCategoryId":8},{"firstCategoryId":12,"maxInvestAmount":3000.00,"minInvestAmount":100.00,"perIncAmount":100.00,"productDueDays":90,"productId":7051,"productRatio":0.100000,"secondCategoryId":13}]

In [3]:
product_path = 'product_json.txt'
coupon_path  = 'coupon_json.txt'

In [ ]:
aaa = open(coupon_path,'r')
type(aaa)

In [6]:
coupon_json= json.load(open(coupon_path,'r'))
pd.DataFrame(coupon_json)

,allProductSupportFlag,couponAmount,couponId,couponMinInvestAmount,supportCategoryVoList
0,False,20,4c72434f6c934801b80a019ae964558c,10000,"[{u'supportFlag': True, u'secondCategoryId': 5..."
1,False,50,00109adc3cf14c4b9ab72ab4e9fd33a3,25000,"[{u'supportFlag': True, u'thirdCategoryId': 10..."
2,False,100,61c15ee5da5d4387be7425d3b1495b15,35000,"[{u'supportFlag': True, u'thirdCategoryId': 10..."

In [5]:
encodejson = json.dumps(coupon_json, sort_keys= True)

In [6]:
decodejson = json.loads(encodejson)

In [7]:
decodejson[0]['supportCategoryVoList']

[{u'firstCategoryId': 1,
  u'fouthCategoryId': 4,
  u'productId': 5,
  u'secondCategoryId': 2,
  u'supportFlag': True,
  u'thirdCategoryId': 3},
 {u'supportFlag': True, u'thirdCategoryId': 8}]

In [30]:
pd.DataFrame(decodejson[0]['supportCategoryVoList'])

,firstCategoryId,fouthCategoryId,productId,secondCategoryId,supportFlag,thirdCategoryId
0,1,4,5,2,True,3
1,NaN,NaN,NaN,NaN,True,8

In [8]:
names = decodejson[0].keys()
names

[u'productRatio',
 u'secondCategoryId',
 u'firstCategoryId',
 u'perIncAmount',
 u'productDueDays',
 u'maxInvestAmount',
 u'thirdCategoryId',
 u'minInvestAmount',
 u'fouthCategoryId',
 u'productId']

In [9]:
decodejson[0].values()

[0.06, 4, 2, 100.0, 181, -1.0, 8, 100.0, 15, 7049]

In [10]:
print decodejson[0]

{u'productRatio': 0.06, u'secondCategoryId': 4, u'firstCategoryId': 2, u'perIncAmount': 100.0, u'productDueDays': 181, u'maxInvestAmount': -1.0, u'thirdCategoryId': 8, u'minInvestAmount': 100.0, u'fouthCategoryId': 15, u'productId': 7049}

In [14]:
def json2DataFrame(jsonpath):
    
    jsondata = json.load(open(jsonpath,'r'))
    product  = pd.DataFrame(jsondata)
    return product

In [15]:
json2DataFrame(product_path)

,firstCategoryId,fouthCategoryId,maxInvestAmount,minInvestAmount,perIncAmount,productDueDays,productId,productRatio,secondCategoryId,thirdCategoryId
0,2,15,-1,100,100,181,7049,0.06,4,8
1,12,NaN,3000,100,100,90,7051,0.10,13,NaN

In [16]:
json2DataFrame(coupon_path)

,allProductSupportFlag,couponAmount,couponId,couponMinInvestAmount,supportCategoryVoList
0,False,300,6c5f8c08bff146a3952d3df28e4bf4f3,10000,"[{u'secondCategoryId': 2, u'firstCategoryId': ..."
1,False,800,06b23ae0187d44d8b02eb693200243ac,50000,"[{u'secondCategoryId': 21, u'firstCategoryId':..."

In [8]:
res

NameError: name 'res' is not defined

In [81]:
pd.DataFrame(res.iloc[0])

                        0
firstCategoryId      2.00
fouthCategoryId     15.00
maxInvestAmount     -1.00
minInvestAmount    100.00
perIncAmount       100.00
productDueDays     181.00
productId         7049.00
productRatio         0.06
secondCategoryId     4.00
thirdCategoryId      8.00

In [82]:
aa = pd.DataFrame.to_json(pd.DataFrame(res.iloc[0]))
aa

'{"0":{"firstCategoryId":2.0,"fouthCategoryId":15.0,"maxInvestAmount":-1.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":181.0,"productId":7049.0,"productRatio":0.06,"secondCategoryId":4.0,"thirdCategoryId":8.0}}'

In [83]:
bb = pd.DataFrame.to_json(pd.DataFrame(res.iloc[1]))
bb

'{"1":{"firstCategoryId":12.0,"fouthCategoryId":null,"maxInvestAmount":3000.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":90.0,"productId":7051.0,"productRatio":0.1,"secondCategoryId":13.0,"thirdCategoryId":null}}'

In [87]:
aa[:-1]

'{"0":{"firstCategoryId":2.0,"fouthCategoryId":15.0,"maxInvestAmount":-1.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":181.0,"productId":7049.0,"productRatio":0.06,"secondCategoryId":4.0,"thirdCategoryId":8.0}'

In [88]:
bb[1:]

'"1":{"firstCategoryId":12.0,"fouthCategoryId":null,"maxInvestAmount":3000.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":90.0,"productId":7051.0,"productRatio":0.1,"secondCategoryId":13.0,"thirdCategoryId":null}}'

In [89]:
aa[:-1] + ',' + bb[1:]

'{"0":{"firstCategoryId":2.0,"fouthCategoryId":15.0,"maxInvestAmount":-1.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":181.0,"productId":7049.0,"productRatio":0.06,"secondCategoryId":4.0,"thirdCategoryId":8.0},"1":{"firstCategoryId":12.0,"fouthCategoryId":null,"maxInvestAmount":3000.0,"minInvestAmount":100.0,"perIncAmount":100.0,"productDueDays":90.0,"productId":7051.0,"productRatio":0.1,"secondCategoryId":13.0,"thirdCategoryId":null}}'

In [1]:
res

NameError: name 'res' is not defined